@{
    ViewData["Title"] = "About";
}

<div class="text-center"
>
    <h1 style="color: white;" class="at-item2">
        Introducing
    </h1>
    <br/>

    <h3 class="at-item" style="color:white;">All Purpose E-Commerce Store</h3>
</div>
