h1, h2, h3, h4, h5,h6,a, label, th{
    color:white;
}
body {

    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/images/underwatergif.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.75);
    height:100vh;
    width:100vw;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; 
}

.text-center{
    padding-top:20vh;
    width:90vw;
    height:70vh;
    letter-spacing: .5rem;

}

.at-item {
    color: #3079ed;
    animation-name: focus-in-contract, slide-in-left;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}
.at-item {
    animation-name: focus-in-contract slide-in-bck-top;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}


@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes slide-in-bck-top {
    0% {
        -webkit-transform: translateZ(700px) translateY(-300px);
        transform: translateZ(700px) translateY(-300px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}
.at-item2 {
    animation-name: slide-in-bck-top;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes slide-in-bck-top {
    0% {
        -webkit-transform: translateZ(700px) translateY(-300px);
        transform: translateZ(700px) translateY(-300px);
        opacity: 0;
        letter-spacing: 1em;
        filter: blur(12px);

    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }
}

h1, h3 {
    font-family: 'Roboto', sans-serif;
    font-size:xx-large;
}
